- name: Install dependencies
  run: |
    cd client
    npm install

- name: Build frontend
  run: |
    cd client
    npm run build

- name: Build And Deploy
  uses: Azure/static-web-apps-deploy@v1
  with:
    azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_FOREST_080EAAD03 }}
    action: "upload"
    app_location: "client"
    api_location: ""
    output_location: "dist"
